<mat-form-field class="Firstname">
  <mat-label>First Name</mat-label>
  <textarea matInput placeholder="type here"></textarea>
</mat-form-field>
<mat-form-field class="Secondname">
  <mat-label>Second Name</mat-label>
  <textarea matInput placeholder="type here"></textarea>
</mat-form-field>
<mat-form-field class="Username">
  <mat-label>Username</mat-label>
  <textarea matInput placeholder="type here"></textarea>
</mat-form-field>
<mat-form-field class="Email">
  <mat-label>Email</mat-label>
  <textarea matInput placeholder="type here"></textarea>
</mat-form-field>
<mat-form-field class="Password">
  <mat-label>Password</mat-label>
  <textarea matInput placeholder="type here"></textarea>
</mat-form-field>
<mat-form-field class="Confirm">
  <mat-label>Confirm Password</mat-label>
  <textarea matInput placeholder="type here"></textarea>
</mat-form-field>
<section>
  <div class="button">Signup</div>
  
    


